<div class="jumbotron">
  <div class="container">
    <h1>Hello!</h1>
    <p>Search for vacant lots in you area</p>

    <a class="btn btn-primary btn-lg" id="submit_button">
      <%= form_tag("/search", method: "get") do %>

        <%= select_tag "borough", options_for_select(@boroughs), prompt: "Select Borough", id: "borough" %>
        <%= submit_tag("Search") %>
          
      <% end %>
    </a>
  </div>
</div>

<div class="container">
  <h1>Why?</h1>
  <p id="info">Vacant lots often sit idle and are an eye sore when in fact they could bring value to the community. The purpose of this site is to help quickly identify promising lots that can be turned into a community garden. More information on starting and organizing a garden of your own can be found below:</p>
  <a href="http://596acres.org/">596 Acres</a><br>
  <a href="http://www.greenthumbnyc.org/">GreenThumb NYC</a>
</div>

